//FAQ ----------------------------------------------------------------------------------

h1 {
    @extend %animacionesExtend;
}

.sectionFAQDOS {

    ol {
        li {
            font-weight: bold;
        }
    }

    .largosFoto {
        width: 50%;
        height: 50%;
        @include flex ($direccion: row, $align: none, $justify: center);
    }

    article {
        @include flex ($direccion: row, $align: none, $justify: center);

        .paddingLargos {
            margin: 1%;
        }

        .bordeLargos {
            border: 3px solid $colorPrincipal;
            border-radius: 10px;
        }
    }
}



.sectionFAQCUATRO {

    .centrado {
        @include flex ($direccion: none, $align: center, $justify: center);
    }

    .fotoPagos {
        width: auto
    }

    article {
        .centrado {
            @include flex ($direccion: none, $align: center, $justify: center);
        }

        .fotoCorreos {
            width: auto;
        }
    }
}


.sectionFAQCCINCO {

    .centrado {
        @include flex ($direccion: none, $align: center, $justify: center);

    }

    .garantiaClase {
        .tamanoGarantia {
            max-width: 100%;
            @include flex ($direccion: none, $align: none, $justify: center);
        }
    }

}

.sectionFAQSEIS {

    .iframeFaq {
        text-align: center;
    }

    .containers-fluid {
        text-align: center;
    }
}
