//INDEX-------------------------------------------------------------------------------

//Destacados del Mes

.sectionDestacados {

    h1 {
       @extend %animacionesExtend;
    }

    .destacadosCentro {
        @include flex ($direccion: row, $align: none, $justify: space-around);
    }

    .paddingDestacado {
        padding-bottom: 2%;
    }

    figure {
        .borde {
            @extend %bordesCosas;
            border-radius: 10px;
        }

        .tamanoFotosIndex {
            width: auto;
        }

    }

}



//Iframe 

.paddingIframes {

    h1 {
        @extend %animacionesExtend;
    }


    .paddingIframe {
        padding-top: 5%;
        padding-bottom: 5%;
    }

    .sectionIframes {

        .tamanoIframe {
            height: 20px;
        }

        .showroomTexto {
            text-align: center;
            font-size: large;
            @include flex ($direccion: none, $align: center, $justify: none);
        }

        .paddingTexto {
            margin-top: 5%;
            margin-bottom: 1%;
        }

    }
}

//Cards

.sectionCards {

    .cardBetween {
        @include flex ($direccion: none, $align: none, $justify: center);
    }

    .cardFlex {
        @include flex ($direccion: none, $align: none, $justify: center);

    }

    @include mobile {
        .tamanoCard {
            min-width: 70%;
        }
    }

    @include mobile {
        .cardsJustify {
            @include flex ($direccion: none, $align: none, $justify: center);
        }
    }

    .cardColor {
        background-color: $colorPrincipal;
    }

    .cardColorDos {
        background-color: $colorSecundario;
    }

    .cardPadding {
        margin-bottom: 2%;
    }

    .cardPadding {
        margin-bottom: 2%;
    }

    .cardSize {
        width: 30%;
        height: 40%;
    }

    @media (max-width: 100vh) {
        .tamanoCard {
            max-height: 100%;
        }
    }
}