//Fotos + títulos
.sectionProductos {

    .productosCentrados {
        @include flex ($direccion: none, $align: none, $justify: center);
    }

    .productoFlex {
        @include flex ($direccion: none, $align: none, $justify: center);
    }

    .borde {
        @extend %bordesCosas;
        border-radius: 10px;
    }

    .paddingTitulos {
        padding-bottom: 2%;
    }

    .tamanoFotos {
        width: 80%;
        height: 90%;
    }
    
    .tamanoGiftCard {
        width: 80%;
        height: 80%;
    }

    @media (max-width: 992px) {
        .tamanoGiftCard {
            width: 50%;
            height: 50%;
        }
    }

}