
  //Boton Volver Arriba (Productos)
  .botonScss {
    .buttonCentrado {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3%;
    }

    .arriba {
      display: inline-block;
      border-radius: 10px;
      padding: 5px;
      @extend %botonExtend;
      @extend %animacionesBotones;

    }
  }


  //Boton Enviar (Contacto)

  .mainContacto {
    .buttonSend {
      margin: 1%;
      padding-top: 1%;
      margin-bottom: 1%;
      @extend %botonExtend;
      @extend %animacionesBotones;
    }
  }