//Dropdown de Productos
.botonProductos {

    .dropdown {
        display: flex;
        justify-content: end;
        padding-bottom: 2%;
    }

    .colorBotton {
        background-color: rgb(151, 189, 151);
        color: black
    }

}