//FOOTER -------------------------------------------------------------------------------

footer {
    background-color: $colorSecundario;
    width: 100%;
    font-size: small;
    color: black;
    padding-top: 6px;
    @include flex ($direccion: none, $align: center, $justify: center);

    p {
        .footerCopyright {
            @include flex ($direccion: none, $align: center, $justify: center);
        }
    }

    figure {
        .tamanoWhatsapp {
            width: 50px;
            height: 50px;
            position: fixed;
            right: 0%;
            bottom: 7%;
        }

    }

    figure {
        .instagramFooter {

            display: flex;
            justify-content: start;
            align-self: start;
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }
    }

    figure {
        .facebookFooter {
            display: flex;
            justify-content: start;
            align-self: start;
            width: 20px;
            height: 20px;
            margin-left: 10px;
        }
    }

}