//FOOTER -------------------------------------------------------------------------------

footer {
    background-color: $colorSecundario;
    width: 100%;
    font-size: small;
    color: black;
    margin-top: 2%;
    @include flex ($direccion: none, $align: end, $justify: center);

    p {
        &Copyright {
            @include flex ($direccion: none, $align: center, $justify: center);
        }
    }

    figure {
        .tamanoWhatsapp {
            width: 50px;
            height: 50px;
            position: fixed;
            right: 1%;
            bottom: 7%;
        }

    }

}