// HEADER + NAVBAR

header {

    nav {
        background-color: $colorSecundario;
    }

    .searchBar {
        margin-left: auto;
    }

    .navbar-nav {
        @include flex ($direccion: none, $align: none, $justify: flex-end);
    }

    .headerContenedor {
        @include flex ($direccion: none, $align: start, $justify: center);
    }


    .logoPaterson {
        img {
        width: auto;
        height: 150px;
        margin-left: 2%;
        }
    }

    }
