//Mixins -----------------------------

//Mixin Display Flex
@mixin flex ($justify, $direccion, $align) {
    display: flex;
    justify-content: $justify;
    flex-direction: $direccion;
    align-items: $align;

}

// Mixin Vista Mobile
@mixin mobile {
    @media (max-width: 470px) {
        @content;
    }
}


// Extends ---------------------------

//Boton Extend

%botonExtend {
    background-color: rgb(151, 189, 151);
    color: black;
    border: 1px solid rgb(0, 0, 0);
}

//Extend de Carrusel (Flechas)

%carruselFlechas {

    .carousel-control-prev,
    .carousel-control-next {
        background-color: $colorSecundario;
        width: 5%;
    }
}

//Bordes de Carrusel y Fotos

%bordesCosas {
    border: 3px solid $colorPrincipal;
}

//Animaciones

%animacionesExtend {
    animation-name: animacion-titulo;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
}

%animacionesBotones {
    animation-name: animacion-botones;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 5s;
}

//Keyframes Animaciones

@keyframes animacion-titulo {
    0% {
        color: $colorPrincipal;
    }

    50% {
        color: $colorSecundario;
    }

    100% {
        color: $colorPrincipal;
    }
}

@keyframes animacion-botones {
    0% {
        background-color: $colorPrincipal;
    }

    50% {
        background-color: $colorSecundario;
    }

    100% {
        background-color: $colorPrincipal;
    }
}