.mainContacto .buttonSend, .botonScss .arriba {
  background-color: rgb(151, 189, 151);
  color: black;
  border: 1px solid rgb(0, 0, 0);
}

.sectionNosotros .divCarrusel .carousel-control-prev, .sectionCarrusel .carousel-control-prev,
.sectionNosotros .divCarrusel .carousel-control-next,
.sectionCarrusel .carousel-control-next {
  background-color: rgb(185, 231, 185);
  width: 5%;
}

.sectionProductos .borde, .sectionDestacados figure .borde, .sectionCarrusel .carouselContainer {
  border: 3px solid rgb(105, 132, 105);
}

.sectionProductos h1, h1, .sectionNosotros h1, .mainContacto h1, .paddingIframes h1, .sectionDestacados h1 {
  animation-name: animacion-titulo;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
}

.mainContacto .buttonSend, .botonScss .arriba {
  animation-name: animacion-botones;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 5s;
}

@keyframes animacion-titulo {
  0% {
    color: rgb(105, 132, 105);
  }
  50% {
    color: rgb(185, 231, 185);
  }
  100% {
    color: rgb(105, 132, 105);
  }
}
@keyframes animacion-botones {
  0% {
    background-color: rgb(105, 132, 105);
  }
  50% {
    background-color: rgb(185, 231, 185);
  }
  100% {
    background-color: rgb(105, 132, 105);
  }
}
* {
  font-family: "Roboto", sans-serif;
}
* h1 {
  color: rgb(105, 132, 105);
}
* a {
  color: rgb(105, 132, 105);
  text-decoration: none;
}
* h2 {
  color: rgb(105, 132, 105);
}
* h3 {
  color: rgb(105, 132, 105);
}
* .underline {
  text-decoration: underline;
}
* .resaltado {
  font-weight: bold;
}
* .formularioTamano {
  width: 50%;
}
* .textoMedio {
  text-align: center;
}

header nav {
  background-color: rgb(185, 231, 185);
}
header .searchBar {
  margin-left: auto;
}
header .navbar-nav {
  display: flex;
  justify-content: flex-end;
  flex-direction: none;
  align-items: none;
}
header .headerContenedor {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: start;
}
header .logoPaterson img {
  width: auto;
  height: 150px;
  margin-left: 2%;
}

footer {
  background-color: rgb(185, 231, 185);
  width: 100%;
  font-size: small;
  color: black;
  padding-top: 6px;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
}
footer p .footerCopyright {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
}
footer figure .tamanoWhatsapp {
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0%;
  bottom: 7%;
}
footer figure .instagramFooter {
  display: flex;
  justify-content: start;
  align-self: start;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
footer figure .facebookFooter {
  display: flex;
  justify-content: start;
  align-self: start;
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.botonScss .buttonCentrado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
.botonScss .arriba {
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
}

.mainContacto .buttonSend {
  margin: 1%;
  padding-top: 1%;
}

.sectionCarrusel {
  display: flex;
  justify-content: center;
}
@media (min-width: 1400px) {
  .sectionCarrusel .tamanoCarouselCarousel {
    max-width: 80%;
  }
}
@media (min-width: 1800px) {
  .sectionCarrusel .tamanoCarouselCarousel {
    max-width: 60%;
  }
}
.sectionCarrusel .carouselSize {
  width: 95%;
}
.sectionNosotros .divCarrusel .carrousel {
  display: flex;
  justify-content: center;
  width: 550px;
  height: 700px;
  padding-bottom: 4%;
}
.sectionNosotros .divCarrusel .flechaButton {
  border: 3px solid rgb(105, 132, 105);
  border-radius: 10px;
}

.botonProductos .dropdown {
  display: flex;
  justify-content: end;
  padding-bottom: 2%;
}
.botonProductos .colorBotton {
  background-color: rgb(151, 189, 151);
  color: black;
}

.botonProductos .dropdown {
  display: flex;
  justify-content: end;
  padding-bottom: 2%;
}
.botonProductos .colorBotton {
  background-color: rgb(151, 189, 151);
  color: black;
}

.sectionDestacados .destacadosCentro {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: none;
}
.sectionDestacados .paddingDestacado {
  padding-bottom: 2%;
}
.sectionDestacados figure .borde {
  border-radius: 10px;
}
.sectionDestacados figure .tamanoFotosIndex {
  width: auto;
}

.paddingIframes .paddingIframe {
  padding-top: 5%;
  padding-bottom: 5%;
}
.paddingIframes .sectionIframes .showroomTexto {
  text-align: center;
  font-size: large;
  display: flex;
  justify-content: none;
  flex-direction: none;
  align-items: center;
}
.paddingIframes .sectionIframes .paddingTexto {
  margin-top: 5%;
  margin-bottom: 1%;
}

.sectionCards .cardBetween {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.sectionCards .cardFlex {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
@media (max-width: 492px) {
  .sectionCards .tamanoCard {
    min-width: 70%;
  }
}
@media (max-width: 492px) {
  .sectionCards .cardsJustify {
    display: flex;
    justify-content: center;
    flex-direction: none;
    align-items: none;
  }
}
.sectionCards .cardColor {
  background-color: rgb(105, 132, 105);
}
.sectionCards .cardColorDos {
  background-color: rgb(185, 231, 185);
}
.sectionCards .cardPadding {
  margin-bottom: 2%;
}
.sectionCards .cardPadding {
  margin-bottom: 2%;
}
.sectionCards .cardSize {
  width: 30%;
  height: 40%;
}
@media (max-width: 100vh) {
  .sectionCards .tamanoCard {
    max-height: 100%;
  }
}

.mainContacto .margenContacto {
  margin-bottom: 1%;
}

.sectionNosotros .containerCalesita {
  margin-bottom: 4%;
}
.sectionNosotros .divTexto figure .tamanoInstagram {
  width: 50px;
  height: 50px;
}

.sectionFAQDOS ol li {
  font-weight: bold;
}
.sectionFAQDOS .largosFoto {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
}
.sectionFAQDOS article {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: none;
}
.sectionFAQDOS article .paddingLargos {
  margin: 1%;
}
.sectionFAQDOS article .bordeLargos {
  border: 3px solid rgb(105, 132, 105);
  border-radius: 10px;
}

.sectionFAQCUATRO .centrado {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
}
.sectionFAQCUATRO .fotoPagos {
  width: auto;
}
.sectionFAQCUATRO article .centrado {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
}
.sectionFAQCUATRO article .fotoCorreos {
  width: auto;
}

.sectionFAQCCINCO .centrado {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: center;
}
.sectionFAQCCINCO .garantiaClase .tamanoGarantia {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}

.sectionFAQSEIS .iframeFaq {
  text-align: center;
}
.sectionFAQSEIS .containers-fluid {
  text-align: center;
}

.sectionProductos .productosCentrados {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.sectionProductos .productoFlex {
  display: flex;
  justify-content: center;
  flex-direction: none;
  align-items: none;
}
.sectionProductos .borde {
  border-radius: 10px;
}
.sectionProductos .paddingTitulos {
  padding-bottom: 2%;
}
.sectionProductos .tamanoFotos {
  width: 80%;
  height: 90%;
}
.sectionProductos .tamanoGiftCard {
  width: 80%;
  height: 80%;
}
@media (max-width: 992px) {
  .sectionProductos .tamanoGiftCard {
    width: 50%;
    height: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
